{% extends "base.html" %}

{% block title %} LOGIN | JOB FINDER {% endblock %}

{% block body %}

<div class="text-center mt-5 b-1">
    <h1 class="h3 mb-3 font-weight-normal">JOB FINDER</h1>
    <p class="h5 font-weight-light">Для того чтобы войти, введите логин и пароль</p>
</div>

{% load crispy_forms_tags %}

{% crispy form "bootstrap4" %}

<div class="mt-4 text-center"><p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь!</a>
    или перейдите на <a href="{% url 'index' %}">Главную</a></p></div>

{% endblock %}