{% extends "base.html" %}

{% block title %} Создать резюме | JOB FINDER {% endblock %}
{% block head %}
{{block.super}}
<style>
    body {
      background-color: #F6F2E6;
    }
  </style>
{% endblock %}

{% block body %}
{{block.super}}

  <main class="container mt-3 pb-5">
    <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
      <div class="card-body px-3 pb-4">
        <h1 class="h4 pt-2 pb-3">Мое резюме</h1>
        <p class="alert alert-info" role="alert">Ваше резюме обновлено!</p>

        {% load crispy_forms_tags %}

        {% load crispy_forms_tags %}

        {% crispy form "bootstrap4" %}

      </div>
    </section>
  </main>

{% include 'scripts.html' %}
{% endblock %}
